
<div class="pos-f-t fixed-top header">
  <nav class="navbar navbar-inverse bg-inverse navbar-toggleable-md">
    <div class="title-container">
        <a [routerLink]="['']">
          InstaPets
        </a>
    </div>
    <div class="nav-search">
        <input name="search" type="text" class="form-control" id="search" placeholder="Search...">
    </div>
    <div class="nav-profile">
      <a *ngIf="!loggedIn" [routerLink]="['/login']">
        Login
      </a>
      <a *ngIf="loggedIn" [routerLink]="['/account']">
        My Account
      </a>
      <a *ngIf="loggedIn"> <b> • </b> </a>
      <a style="cursor: pointer;" *ngIf="loggedIn" (click)="logout()">
        Logout
      </a>
    </div>
  </nav>
</div>